* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 125px;
}

.add-button {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 32px;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, .5);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 75px;
  max-width: 1200px;
  margin: 0 auto;
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 450px;
}

.clock-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.clock {
  position: relative;
  margin-bottom: 60px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#e5e5e5 130px, black);
  border: 1px solid rgba(0, 0, 0, .7);
  border-radius: 50%;
  box-shadow: -30px 30px 10px rgba(0, 0, 0, .5);
}

ul {
  list-style: none;
}

.signs {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, .7);
  border-radius: 50%;
  box-shadow: inset -35px 35px 10px 5px rgba(0, 0, 0, .3);
}

.hour-sign {
  display: block;
  position: absolute;
  left: calc(50% - 3px);
  width: 6px;
  height: 50%;
  transform-origin: 50% 100%;
}

.hour-sign::after {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 15px;
  background-color: #000000;
  z-index: 1;
}

.digit-clock {
  position: absolute;
  top: 70%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  font-style: italic;
  font-weight: bold;
  z-index: 2;
}

.dot {
  position: absolute;
  top: calc(50% - 7.5px);
  left: calc(50% - 7.5px);
  display: block;
  width: 15px;
  height: 15px;
  background-color: #000000;
  border-radius: 50%;
  z-index: 10;
}

.second {
  position: absolute;
  top: 25px;
  left: calc(50% - 1.5px);
  width: 3px;
  height: 125px;
  transform-origin: 50% 100%;
  background-color: red;
  z-index: 5;
}

.minute {
  position: absolute;
  top: 35px;
  left: calc(50% - 3px);
  width: 6px;
  height: 115px;
  transform-origin: 50% 100%;
  background-color: #000000;
  z-index: 4;
}

.minute::after {
  display: block;
  position: absolute;
  top: -2px;
  left: 1px;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #000000;
  transform: rotate(45deg);
}

.hour {
  position: absolute;
  top: 60px;
  left: calc(50% - 3px);
  width: 6px;
  height: 90px;
  transform-origin: 50% 100%;
  background-color: #000000;
  z-index: 3;
}

.hour::after {
  display: block;
  position: absolute;
  top: -2px;
  left: 1px;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #000000;
  transform: rotate(45deg);
}

.city-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  background-color: #e5e5e5;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, .5);
}

.city-name {
  font-size: 26px;
  text-transform: uppercase;
}

.input-field {
  display: none;
  width: 80%;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 3px;
}

.input-field.active {
  display: flex;
}

input {
  flex: 1;
  padding: 5px;
  width: 160px;
  height: 22px;
  font-size: 22px;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  outline: none;
}

input::placeholder {
  color: black;
  font-size: 14px;
}

.search {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  padding: 3px;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url("search.svg");
  background-position: 50% 50%;
  background-size: 95% 95%;
  background-repeat: no-repeat;
  border: none;
  border-left: 2px solid black;
  cursor: pointer;
}

.suggestions {
  padding: 0;
  position: absolute;
  top: 43px;
  width: 200px;
  max-height: 100px;
  overflow-y: scroll;
  z-index: 10;
}

.suggestions li {
  padding: 5px;
  background-color: #e5e5e5;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: burlywood;
}